.main-exchange-container--title h2 {
     margin-bottom: 15px;
}
.main-cards--scroll {
     margin-top: 15px;
}
.product-cards--container {
     display: flex;
     flex-wrap: wrap;
     width: 930px;
     margin: 0 auto;
}
.main-cards--scroll{
     display: flex;
     flex-wrap: wrap;
     width: 50%px;
}
.main-tables-container{
     margin-left: 100px;
     margin-right: 100px;
}
.plans-container--slider {
     justify-content: center;
}